{% extends 'landf/index.html' %}
{% block content %}
        <div class="row justify-content-md-center col-6 offset-6 text-center">
            <form class="needs-validation">
                <h2 class="mb-3">Login</h2>
                <div class="mb-3">
                    <label for="InputEmail" class="form-label">Email or Username</label>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Email or Username">
                </div>
                <div class="mb-3">
                    <label for="InputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                </div>
                <div class="text-start mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="keepSignInCheck">
                    <label class="form-check-label" for="keepSignInCheck">Keep me signed in</label>
                </div>
                <div class="mb-2">
                <a href="{% url 'register' %}" class="form-row text-decoration-underline">Do not Have an account? Register Here</a>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
{% endblock %}
