{% extends 'landf/index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row justify-content-md-center col-6 offset-6 text-center border overflow-hidden">
            <form  class="mt-3" method="POST">
                <div class="form-row mb-3">
                    <h1>Register</h1>
                </div>
                {%  csrf_token %}
                {{ form|crispy }}
                <div class="form-text mb-2">
                <a href="{% url 'landf-login' %}" class="form-row text-decoration-underline">Have an account?</a>
                </div>
                <div class="form-row mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
{% endblock %}
