{% extends 'landf/index.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">User</a>
                <small class="text-muted">Date</small>
            </div>
            <h2><span class="article-title text-decoration-none" href="#">Profile</span></h2>
            <p class="article-content">Profile Content</p>
            <button type="button" class="btn btn-primary">Edit</button>
        </div>
    </article>
{% endblock %}